header {
    height: 100vh;
    /* width: 100%; */
    background-image: url(../assets/images/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 0.7in;
    background-color: #1B1B1B; 
    /* position: fixed; */
    /* width: 100%;
    margin-top: 0;
    padding-top: 0; */
}

#nav-items {
    display: flex;
    gap: 20px;
}

.nav-list {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.hero {
    width: 50%;
    margin-left: 1in;
    margin-top: 1in;
    
}

.hero h2 {
    font-size: 50px;
    color: yellow;
    padding: 15px;
    width: 70%;
}

.hero p {
    font-size: 50px;
    margin-left: 1in;
}

.but1 {
   display: flex;
   flex-direction: row;
   gap: 15mm;
}
.but1 button {
    width: 1.5in;
    height: 30px;
    border-radius: 20mm;
    /* padding: 10px; */
    background-color: white;
    border: 3px solid black;
    color: #551A8B;
}

.hero-call {
    background-color: white;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20mm;
    padding: 10px;
    /* border-inline-color: yellow; */
   }

.hero-call h3 {
    color: #551A8B;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.ab-img {
    height: 100vh;
    width: 50%;
}