header {
    height: 100vh;
    /* width: 100%; */
    background-image: url(../assets/images/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 0.7in;
    background-color: #1B1B1B;
    /* position: fixed; */
    /* width: 100%;
    margin-top: 0;
    padding-top: 0; */
}

#nav-items {
    display: flex;
    gap: 20px;
}

.nav-list {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.hero {
    width: 50%;
    margin-left: 1in;
    margin-top: 1in;

}

.hero h2 {
    font-size: 50px;
    color: yellow;
    padding: 15px;
    width: 70%;
}

.hero p {
    font-size: 50px;
    margin-left: 1in;
}

.but1 {
    display: flex;
    flex-direction: row;
    gap: 15mm;
}

.but1 button {
    width: 1.5in;
    height: 30px;
    border-radius: 20mm;
    /* padding: 10px; */
    background-color: white;
    border: 3px solid black;
    color: #551A8B;
}

.hero-call {
    background-color: white;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20mm;
    padding: 10px;
    /* border-inline-color: yellow; */
}

.hero-call h3 {
    color: #551A8B;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    background-color: #551A9A;
}

.ab-img {
    height: 100vh;
    width: 50%;
    margin-left: 10px;
    padding: 20px;
}

.about button {
    width: 1.7in;
    height: 30px;
    border-radius: 20mm;
    /* padding: 10px; */
    background-color: white;
    /* border: 3px solid black; */
    color: #2b2b01;
}

.skill {
    /* background-color: yellow; */
    align-items: center;
    height: 100vh;
    background-image: url(../assets/images/bg-masthead.jpg);
}

.skill h1 {
    text-align: center;

}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

}

.services {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #D2C7C7;
    padding: 10px;
}

.list-of-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #E3E7EA;
    height: 100vh;
    width: 70%;
}

.service1 {
    background-color: #551A9A;
    height: 40vh;
}

.service2 {
    /* background-color: yellow; */
    height: 40vh;
}
.service3 {
    /* background-color: yellow; */
    height: 60vh;
}

.service4 {
    background-color: #551A9A;
    height: 60vh;
}

.serve {
    color: white;
    text-align: center;
    margin-left: 1in;
}

